<%- model_class = Pedido -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:cpf) %></th>
      <th><%= model_class.human_attribute_name(:nome) %></th>
      <th><%= model_class.human_attribute_name(:email) %></th>
      <th><%= model_class.human_attribute_name(:nivel) %></th>
      <th><%= model_class.human_attribute_name(:fone) %></th>
      <th><%= model_class.human_attribute_name(:ramal) %></th>
      <th><%= model_class.human_attribute_name(:orient) %></th>
      <th><%= model_class.human_attribute_name(:coorient) %></th>
      <th><%= model_class.human_attribute_name(:dep_coor) %></th>
      <th><%= model_class.human_attribute_name(:ies_coor) %></th>
      <th><%= model_class.human_attribute_name(:area) %></th>
      <th><%= model_class.human_attribute_name(:proj_assoc) %></th>
      <th><%= model_class.human_attribute_name(:titulo) %></th>
      <th><%= model_class.human_attribute_name(:resumo) %></th>
      <th><%= model_class.human_attribute_name(:pal_chave) %></th>
      <th><%= model_class.human_attribute_name(:sala) %></th>
      <th><%= model_class.human_attribute_name(:data) %></th>
      <th><%= model_class.human_attribute_name(:hora) %></th>
      <th><%= model_class.human_attribute_name(:exam1) %></th>
      <th><%= model_class.human_attribute_name(:exam1_mail) %></th>
      <th><%= model_class.human_attribute_name(:exam1_dep) %></th>
      <th><%= model_class.human_attribute_name(:exam1_ies) %></th>
      <th><%= model_class.human_attribute_name(:exam1_pub) %></th>
      <th><%= model_class.human_attribute_name(:exam2) %></th>
      <th><%= model_class.human_attribute_name(:exam2_mail) %></th>
      <th><%= model_class.human_attribute_name(:exam2_dep) %></th>
      <th><%= model_class.human_attribute_name(:exam2_ies) %></th>
      <th><%= model_class.human_attribute_name(:exam2_pub) %></th>
      <th><%= model_class.human_attribute_name(:exam3) %></th>
      <th><%= model_class.human_attribute_name(:exam3_mail) %></th>
      <th><%= model_class.human_attribute_name(:exam3_dep) %></th>
      <th><%= model_class.human_attribute_name(:exam3_ies) %></th>
      <th><%= model_class.human_attribute_name(:exam3_pub) %></th>
      <th><%= model_class.human_attribute_name(:exam4) %></th>
      <th><%= model_class.human_attribute_name(:exam4_mail) %></th>
      <th><%= model_class.human_attribute_name(:exam4_dep) %></th>
      <th><%= model_class.human_attribute_name(:exam4_ies) %></th>
      <th><%= model_class.human_attribute_name(:exam4_pub) %></th>
      <th><%= model_class.human_attribute_name(:exam5) %></th>
      <th><%= model_class.human_attribute_name(:exam5_mail) %></th>
      <th><%= model_class.human_attribute_name(:exam5_dep) %></th>
      <th><%= model_class.human_attribute_name(:exam5_ies) %></th>
      <th><%= model_class.human_attribute_name(:exam5_pub) %></th>
      <th><%= model_class.human_attribute_name(:exam6) %></th>
      <th><%= model_class.human_attribute_name(:exam6_mail) %></th>
      <th><%= model_class.human_attribute_name(:exam6_dep) %></th>
      <th><%= model_class.human_attribute_name(:exam6_ies) %></th>
      <th><%= model_class.human_attribute_name(:exam6_pub) %></th>
      <th><%= model_class.human_attribute_name(:exam7) %></th>
      <th><%= model_class.human_attribute_name(:exam7_mail) %></th>
      <th><%= model_class.human_attribute_name(:exam7_dep) %></th>
      <th><%= model_class.human_attribute_name(:exam7_ies) %></th>
      <th><%= model_class.human_attribute_name(:exam7_pub) %></th>
      <th><%= model_class.human_attribute_name(:sup_int) %></th>
      <th><%= model_class.human_attribute_name(:sup_int_mail) %></th>
      <th><%= model_class.human_attribute_name(:sup_int_pub) %></th>
      <th><%= model_class.human_attribute_name(:sup_ext) %></th>
      <th><%= model_class.human_attribute_name(:sup_ext_mail) %></th>
      <th><%= model_class.human_attribute_name(:sup_ext_dep) %></th>
      <th><%= model_class.human_attribute_name(:sup_ext_ies) %></th>
      <th><%= model_class.human_attribute_name(:sup_ext_pub) %></th>
      <th><%= model_class.human_attribute_name(:confirma) %></th>
      <th><%= model_class.human_attribute_name(:usuario_id) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @pedidos.each do |pedido| %>
      <tr>
        <td><%= link_to pedido.id, pedido_path(pedido) %></td>
        <td><%= pedido.cpf %></td>
        <td><%= pedido.nome %></td>
        <td><%= pedido.email %></td>
        <td><%= pedido.nivel %></td>
        <td><%= pedido.fone %></td>
        <td><%= pedido.ramal %></td>
        <td><%= pedido.orient %></td>
        <td><%= pedido.coorient %></td>
        <td><%= pedido.dep_coor %></td>
        <td><%= pedido.ies_coor %></td>
        <td><%= pedido.area %></td>
        <td><%= pedido.proj_assoc %></td>
        <td><%= pedido.titulo %></td>
        <td><%= pedido.resumo %></td>
        <td><%= pedido.pal_chave %></td>
        <td><%= pedido.sala %></td>
        <td><%= pedido.data %></td>
        <td><%= pedido.hora %></td>
        <td><%= pedido.exam1 %></td>
        <td><%= pedido.exam1_mail %></td>
        <td><%= pedido.exam1_dep %></td>
        <td><%= pedido.exam1_ies %></td>
        <td><%= pedido.exam1_pub %></td>
        <td><%= pedido.exam2 %></td>
        <td><%= pedido.exam2_mail %></td>
        <td><%= pedido.exam2_dep %></td>
        <td><%= pedido.exam2_ies %></td>
        <td><%= pedido.exam2_pub %></td>
        <td><%= pedido.exam3 %></td>
        <td><%= pedido.exam3_mail %></td>
        <td><%= pedido.exam3_dep %></td>
        <td><%= pedido.exam3_ies %></td>
        <td><%= pedido.exam3_pub %></td>
        <td><%= pedido.exam4 %></td>
        <td><%= pedido.exam4_mail %></td>
        <td><%= pedido.exam4_dep %></td>
        <td><%= pedido.exam4_ies %></td>
        <td><%= pedido.exam4_pub %></td>
        <td><%= pedido.exam5 %></td>
        <td><%= pedido.exam5_mail %></td>
        <td><%= pedido.exam5_dep %></td>
        <td><%= pedido.exam5_ies %></td>
        <td><%= pedido.exam5_pub %></td>
        <td><%= pedido.exam6 %></td>
        <td><%= pedido.exam6_mail %></td>
        <td><%= pedido.exam6_dep %></td>
        <td><%= pedido.exam6_ies %></td>
        <td><%= pedido.exam6_pub %></td>
        <td><%= pedido.exam7 %></td>
        <td><%= pedido.exam7_mail %></td>
        <td><%= pedido.exam7_dep %></td>
        <td><%= pedido.exam7_ies %></td>
        <td><%= pedido.exam7_pub %></td>
        <td><%= pedido.sup_int %></td>
        <td><%= pedido.sup_int_mail %></td>
        <td><%= pedido.sup_int_pub %></td>
        <td><%= pedido.sup_ext %></td>
        <td><%= pedido.sup_ext_mail %></td>
        <td><%= pedido.sup_ext_dep %></td>
        <td><%= pedido.sup_ext_ies %></td>
        <td><%= pedido.sup_ext_pub %></td>
        <td><%= pedido.confirma %></td>
        <td><%= pedido.usuario_id %></td>
        <td><%=l pedido.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_pedido_path(pedido), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      pedido_path(pedido),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_pedido_path,
            :class => 'btn btn-primary' %>
