<p id="notice"><%= notice %></p>

<p>
  <strong>Cpf:</strong>
  <%= @pedido.cpf %>
</p>

<p>
  <strong>Nome:</strong>
  <%= @pedido.nome %>
</p>

<p>
  <strong>Email:</strong>
  <%= @pedido.email %>
</p>

<p>
  <strong>Nivel:</strong>
  <%= @pedido.nivel %>
</p>

<p>
  <strong>Fone:</strong>
  <%= @pedido.fone %>
</p>

<p>
  <strong>Ramal:</strong>
  <%= @pedido.ramal %>
</p>

<p>
  <strong>Orient:</strong>
  <%= @pedido.orient %>
</p>

<p>
  <strong>Coorient:</strong>
  <%= @pedido.coorient %>
</p>

<p>
  <strong>Dep coor:</strong>
  <%= @pedido.dep_coor %>
</p>

<p>
  <strong>Ies coor:</strong>
  <%= @pedido.ies_coor %>
</p>

<p>
  <strong>Area:</strong>
  <%= @pedido.area %>
</p>

<p>
  <strong>Proj assoc:</strong>
  <%= @pedido.proj_assoc %>
</p>

<p>
  <strong>Titulo:</strong>
  <%= @pedido.titulo %>
</p>

<p>
  <strong>Resumo:</strong>
  <%= @pedido.resumo %>
</p>

<p>
  <strong>Pal chave:</strong>
  <%= @pedido.pal_chave %>
</p>

<p>
  <strong>Sala:</strong>
  <%= @pedido.sala %>
</p>

<p>
  <strong>Data:</strong>
  <%= @pedido.data %>
</p>

<p>
  <strong>Hora:</strong>
  <%= @pedido.hora %>
</p>

<p>
  <strong>Exam1:</strong>
  <%= @pedido.exam1 %>
</p>

<p>
  <strong>Exam1 mail:</strong>
  <%= @pedido.exam1_mail %>
</p>

<p>
  <strong>Exam1 dep:</strong>
  <%= @pedido.exam1_dep %>
</p>

<p>
  <strong>Exam1 ies:</strong>
  <%= @pedido.exam1_ies %>
</p>

<p>
  <strong>Exam1 pub:</strong>
  <%= @pedido.exam1_pub %>
</p>

<p>
  <strong>Exam2:</strong>
  <%= @pedido.exam2 %>
</p>

<p>
  <strong>Exam2 mail:</strong>
  <%= @pedido.exam2_mail %>
</p>

<p>
  <strong>Exam2 dep:</strong>
  <%= @pedido.exam2_dep %>
</p>

<p>
  <strong>Exam2 ies:</strong>
  <%= @pedido.exam2_ies %>
</p>

<p>
  <strong>Exam2 pub:</strong>
  <%= @pedido.exam2_pub %>
</p>

<p>
  <strong>Exam3:</strong>
  <%= @pedido.exam3 %>
</p>

<p>
  <strong>Exam3 mail:</strong>
  <%= @pedido.exam3_mail %>
</p>

<p>
  <strong>Exam3 dep:</strong>
  <%= @pedido.exam3_dep %>
</p>

<p>
  <strong>Exam3 ies:</strong>
  <%= @pedido.exam3_ies %>
</p>

<p>
  <strong>Exam3 pub:</strong>
  <%= @pedido.exam3_pub %>
</p>

<p>
  <strong>Exam4:</strong>
  <%= @pedido.exam4 %>
</p>

<p>
  <strong>Exam4 mail:</strong>
  <%= @pedido.exam4_mail %>
</p>

<p>
  <strong>Exam4 dep:</strong>
  <%= @pedido.exam4_dep %>
</p>

<p>
  <strong>Exam4 ies:</strong>
  <%= @pedido.exam4_ies %>
</p>

<p>
  <strong>Exam4 pub:</strong>
  <%= @pedido.exam4_pub %>
</p>

<p>
  <strong>Exam5:</strong>
  <%= @pedido.exam5 %>
</p>

<p>
  <strong>Exam5 mail:</strong>
  <%= @pedido.exam5_mail %>
</p>

<p>
  <strong>Exam5 dep:</strong>
  <%= @pedido.exam5_dep %>
</p>

<p>
  <strong>Exam5 ies:</strong>
  <%= @pedido.exam5_ies %>
</p>

<p>
  <strong>Exam5 pub:</strong>
  <%= @pedido.exam5_pub %>
</p>

<p>
  <strong>Exam6:</strong>
  <%= @pedido.exam6 %>
</p>

<p>
  <strong>Exam6 mail:</strong>
  <%= @pedido.exam6_mail %>
</p>

<p>
  <strong>Exam6 dep:</strong>
  <%= @pedido.exam6_dep %>
</p>

<p>
  <strong>Exam6 ies:</strong>
  <%= @pedido.exam6_ies %>
</p>

<p>
  <strong>Exam6 pub:</strong>
  <%= @pedido.exam6_pub %>
</p>

<p>
  <strong>Exam7:</strong>
  <%= @pedido.exam7 %>
</p>

<p>
  <strong>Exam7 mail:</strong>
  <%= @pedido.exam7_mail %>
</p>

<p>
  <strong>Exam7 dep:</strong>
  <%= @pedido.exam7_dep %>
</p>

<p>
  <strong>Exam7 ies:</strong>
  <%= @pedido.exam7_ies %>
</p>

<p>
  <strong>Exam7 pub:</strong>
  <%= @pedido.exam7_pub %>
</p>

<p>
  <strong>Sup int:</strong>
  <%= @pedido.sup_int %>
</p>

<p>
  <strong>Sup int mail:</strong>
  <%= @pedido.sup_int_mail %>
</p>

<p>
  <strong>Sup int pub:</strong>
  <%= @pedido.sup_int_pub %>
</p>

<p>
  <strong>Sup ext:</strong>
  <%= @pedido.sup_ext %>
</p>

<p>
  <strong>Sup ext mail:</strong>
  <%= @pedido.sup_ext_mail %>
</p>

<p>
  <strong>Sup ext dep:</strong>
  <%= @pedido.sup_ext_dep %>
</p>

<p>
  <strong>Sup ext ies:</strong>
  <%= @pedido.sup_ext_ies %>
</p>

<p>
  <strong>Sup ext pub:</strong>
  <%= @pedido.sup_ext_pub %>
</p>

<p>
  <strong>Confirma:</strong>
  <%= @pedido.confirma %>
</p>

<p>
  <strong>Usuario:</strong>
  <%= @pedido.usuario %>
</p>

<%= link_to 'Edit', edit_pedido_path(@pedido) %> |
<%= link_to 'Back', pedidos_path %>
