<%- model_class = Pedido -%>
<div class="page-header">
  <h1 align="center"><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:cpf) %>:</strong></dt>
  <dd><%= @pedido.cpf %></dd>
  <dt><strong><%= model_class.human_attribute_name(:nome) %>:</strong></dt>
  <dd><%= @pedido.nome %></dd>
  <dt><strong><%= model_class.human_attribute_name(:email) %>:</strong></dt>
  <dd><%= @pedido.email %></dd>
  <dt><strong><%= model_class.human_attribute_name(:nivel) %>:</strong></dt>
  <dd><%= @pedido.nivel %></dd>
  <dt><strong><%= model_class.human_attribute_name(:fone) %>:</strong></dt>
  <dd><%= @pedido.fone %></dd>
  <dt><strong><%= model_class.human_attribute_name(:ramal) %>:</strong></dt>
  <dd><%= @pedido.ramal %></dd>
  <dt><strong><%= model_class.human_attribute_name(:orient) %>:</strong></dt>
  <dd><%= @pedido.orient %></dd>
  <dt><strong><%= model_class.human_attribute_name(:coorient) %>:</strong></dt>
  <dd><%= @pedido.coorient %></dd>
  <dt><strong><%= model_class.human_attribute_name(:dep_coor) %>:</strong></dt>
  <dd><%= @pedido.dep_coor %></dd>
  <dt><strong><%= model_class.human_attribute_name(:ies_coor) %>:</strong></dt>
  <dd><%= @pedido.ies_coor %></dd>
  <dt><strong><%= model_class.human_attribute_name(:area) %>:</strong></dt>
  <dd><%= @pedido.area %></dd>
  <dt><strong><%= model_class.human_attribute_name(:proj_assoc) %>:</strong></dt>
  <dd><%= @pedido.proj_assoc %></dd>
  <dt><strong><%= model_class.human_attribute_name(:titulo) %>:</strong></dt>
  <dd><%= @pedido.titulo %></dd>
  <dt><strong><%= model_class.human_attribute_name(:resumo) %>:</strong></dt>
  <dd><%= @pedido.resumo %></dd>
  <dt><strong><%= model_class.human_attribute_name(:pal_chave) %>:</strong></dt>
  <dd><%= @pedido.pal_chave %></dd>
  <dt><strong><%= model_class.human_attribute_name(:sala) %>:</strong></dt>
  <dd><%= @pedido.sala %></dd>
  <dt><strong><%= model_class.human_attribute_name(:data) %>:</strong></dt>
  <dd><%= @pedido.data %></dd>
  <dt><strong><%= model_class.human_attribute_name(:hora) %>:</strong></dt>
  <dd><%= @pedido.hora %></dd>
  <dt><strong><%= model_class.human_attribute_name(:exam1) %>:</strong></dt>
  <dd><%= @pedido.exam1 %></dd>
  <dt><strong><%= model_class.human_attribute_name(:exam1_mail) %>:</strong></dt>
  <dd><%= @pedido.exam1_mail %></dd>
  <dt><strong><%= model_class.human_attribute_name(:exam1_dep) %>:</strong></dt>
  <dd><%= @pedido.exam1_dep %></dd>
  <dt><strong><%= model_class.human_attribute_name(:exam1_ies) %>:</strong></dt>
  <dd><%= @pedido.exam1_ies %></dd>
  <dt><strong><%= model_class.human_attribute_name(:exam1_pub) %>:</strong></dt>
  <dd><%= @pedido.exam1_pub %></dd>
  <dt><strong><%= model_class.human_attribute_name(:exam2) %>:</strong></dt>
  <dd><%= @pedido.exam2 %></dd>
  <dt><strong><%= model_class.human_attribute_name(:exam2_mail) %>:</strong></dt>
  <dd><%= @pedido.exam2_mail %></dd>
  <dt><strong><%= model_class.human_attribute_name(:exam2_dep) %>:</strong></dt>
  <dd><%= @pedido.exam2_dep %></dd>
  <dt><strong><%= model_class.human_attribute_name(:exam2_ies) %>:</strong></dt>
  <dd><%= @pedido.exam2_ies %></dd>
  <dt><strong><%= model_class.human_attribute_name(:exam2_pub) %>:</strong></dt>
  <dd><%= @pedido.exam2_pub %></dd>
  <dt><strong><%= model_class.human_attribute_name(:exam3) %>:</strong></dt>
  <dd><%= @pedido.exam3 %></dd>
  <dt><strong><%= model_class.human_attribute_name(:exam3_mail) %>:</strong></dt>
  <dd><%= @pedido.exam3_mail %></dd>
  <dt><strong><%= model_class.human_attribute_name(:exam3_dep) %>:</strong></dt>
  <dd><%= @pedido.exam3_dep %></dd>
  <dt><strong><%= model_class.human_attribute_name(:exam3_ies) %>:</strong></dt>
  <dd><%= @pedido.exam3_ies %></dd>
  <dt><strong><%= model_class.human_attribute_name(:exam3_pub) %>:</strong></dt>
  <dd><%= @pedido.exam3_pub %></dd>
  <dt><strong><%= model_class.human_attribute_name(:exam4) %>:</strong></dt>
  <dd><%= @pedido.exam4 %></dd>
  <dt><strong><%= model_class.human_attribute_name(:exam4_mail) %>:</strong></dt>
  <dd><%= @pedido.exam4_mail %></dd>
  <dt><strong><%= model_class.human_attribute_name(:exam4_dep) %>:</strong></dt>
  <dd><%= @pedido.exam4_dep %></dd>
  <dt><strong><%= model_class.human_attribute_name(:exam4_ies) %>:</strong></dt>
  <dd><%= @pedido.exam4_ies %></dd>
  <dt><strong><%= model_class.human_attribute_name(:exam4_pub) %>:</strong></dt>
  <dd><%= @pedido.exam4_pub %></dd>
  <dt><strong><%= model_class.human_attribute_name(:exam5) %>:</strong></dt>
  <dd><%= @pedido.exam5 %></dd>
  <dt><strong><%= model_class.human_attribute_name(:exam5_mail) %>:</strong></dt>
  <dd><%= @pedido.exam5_mail %></dd>
  <dt><strong><%= model_class.human_attribute_name(:exam5_dep) %>:</strong></dt>
  <dd><%= @pedido.exam5_dep %></dd>
  <dt><strong><%= model_class.human_attribute_name(:exam5_ies) %>:</strong></dt>
  <dd><%= @pedido.exam5_ies %></dd>
  <dt><strong><%= model_class.human_attribute_name(:exam5_pub) %>:</strong></dt>
  <dd><%= @pedido.exam5_pub %></dd>
  <dt><strong><%= model_class.human_attribute_name(:exam6) %>:</strong></dt>
  <dd><%= @pedido.exam6 %></dd>
  <dt><strong><%= model_class.human_attribute_name(:exam6_mail) %>:</strong></dt>
  <dd><%= @pedido.exam6_mail %></dd>
  <dt><strong><%= model_class.human_attribute_name(:exam6_dep) %>:</strong></dt>
  <dd><%= @pedido.exam6_dep %></dd>
  <dt><strong><%= model_class.human_attribute_name(:exam6_ies) %>:</strong></dt>
  <dd><%= @pedido.exam6_ies %></dd>
  <dt><strong><%= model_class.human_attribute_name(:exam6_pub) %>:</strong></dt>
  <dd><%= @pedido.exam6_pub %></dd>
  <dt><strong><%= model_class.human_attribute_name(:exam7) %>:</strong></dt>
  <dd><%= @pedido.exam7 %></dd>
  <dt><strong><%= model_class.human_attribute_name(:exam7_mail) %>:</strong></dt>
  <dd><%= @pedido.exam7_mail %></dd>
  <dt><strong><%= model_class.human_attribute_name(:exam7_dep) %>:</strong></dt>
  <dd><%= @pedido.exam7_dep %></dd>
  <dt><strong><%= model_class.human_attribute_name(:exam7_ies) %>:</strong></dt>
  <dd><%= @pedido.exam7_ies %></dd>
  <dt><strong><%= model_class.human_attribute_name(:exam7_pub) %>:</strong></dt>
  <dd><%= @pedido.exam7_pub %></dd>
  <dt><strong><%= model_class.human_attribute_name(:sup_int) %>:</strong></dt>
  <dd><%= @pedido.sup_int %></dd>
  <dt><strong><%= model_class.human_attribute_name(:sup_int_mail) %>:</strong></dt>
  <dd><%= @pedido.sup_int_mail %></dd>
  <dt><strong><%= model_class.human_attribute_name(:sup_int_pub) %>:</strong></dt>
  <dd><%= @pedido.sup_int_pub %></dd>
  <dt><strong><%= model_class.human_attribute_name(:sup_ext) %>:</strong></dt>
  <dd><%= @pedido.sup_ext %></dd>
  <dt><strong><%= model_class.human_attribute_name(:sup_ext_mail) %>:</strong></dt>
  <dd><%= @pedido.sup_ext_mail %></dd>
  <dt><strong><%= model_class.human_attribute_name(:sup_ext_dep) %>:</strong></dt>
  <dd><%= @pedido.sup_ext_dep %></dd>
  <dt><strong><%= model_class.human_attribute_name(:sup_ext_ies) %>:</strong></dt>
  <dd><%= @pedido.sup_ext_ies %></dd>
  <dt><strong><%= model_class.human_attribute_name(:sup_ext_pub) %>:</strong></dt>
  <dd><%= @pedido.sup_ext_pub %></dd>
  <dt><strong><%= model_class.human_attribute_name(:confirma) %>:</strong></dt>
  <dd><%= @pedido.confirma %></dd>
  <dt><strong><%= model_class.human_attribute_name(:usuario_id) %>:</strong></dt>
  <dd><%= @pedido.usuario_id %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              pedidos_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_pedido_path(@pedido), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              pedido_path(@pedido),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
