<p id="notice"><%= notice %></p>

<p>
  <strong>Cpf:</strong>
  <%= @doutorando.cpf %>
</p>

<p>
  <strong>Nome:</strong>
  <%= @doutorando.nome %>
</p>

<p>
  <strong>Email:</strong>
  <%= @doutorando.email %>
</p>

<p>
  <strong>Fone:</strong>
  <%= @doutorando.fone %>
</p>

<p>
  <strong>Ramal:</strong>
  <%= @doutorando.ramal %>
</p>

<p>
  <strong>Orient:</strong>
  <%= @doutorando.orient %>
</p>

<p>
  <strong>Coorient:</strong>
  <%= @doutorando.coorient %>
</p>

<p>
  <strong>Dep coor:</strong>
  <%= @doutorando.dep_coor %>
</p>

<p>
  <strong>Ies coor:</strong>
  <%= @doutorando.ies_coor %>
</p>

<p>
  <strong>Area:</strong>
  <%= @doutorando.area %>
</p>

<p>
  <strong>Proj assoc:</strong>
  <%= @doutorando.proj_assoc %>
</p>

<p>
  <strong>Titulo:</strong>
  <%= @doutorando.titulo %>
</p>

<p>
  <strong>Resumo:</strong>
  <%= @doutorando.resumo %>
</p>

<p>
  <strong>Pal chave:</strong>
  <%= @doutorando.pal_chave %>
</p>

<p>
  <strong>Sala:</strong>
  <%= @doutorando.sala %>
</p>

<p>
  <strong>Data:</strong>
  <%= @doutorando.data %>
</p>

<p>
  <strong>Hora:</strong>
  <%= @doutorando.hora %>
</p>

<p>
  <strong>Exam1:</strong>
  <%= @doutorando.exam1 %>
</p>

<p>
  <strong>Exam1 mail:</strong>
  <%= @doutorando.exam1_mail %>
</p>

<p>
  <strong>Exam1 dep:</strong>
  <%= @doutorando.exam1_dep %>
</p>

<p>
  <strong>Exam1 ies:</strong>
  <%= @doutorando.exam1_ies %>
</p>

<p>
  <strong>Exam1 pub:</strong>
  <%= @doutorando.exam1_pub %>
</p>

<p>
  <strong>Exam2:</strong>
  <%= @doutorando.exam2 %>
</p>

<p>
  <strong>Exam2 mail:</strong>
  <%= @doutorando.exam2_mail %>
</p>

<p>
  <strong>Exam2 dep:</strong>
  <%= @doutorando.exam2_dep %>
</p>

<p>
  <strong>Exam2 ies:</strong>
  <%= @doutorando.exam2_ies %>
</p>

<p>
  <strong>Exam2 pub:</strong>
  <%= @doutorando.exam2_pub %>
</p>

<p>
  <strong>Exam3:</strong>
  <%= @doutorando.exam3 %>
</p>

<p>
  <strong>Exam3 mail:</strong>
  <%= @doutorando.exam3_mail %>
</p>

<p>
  <strong>Exam3 dep:</strong>
  <%= @doutorando.exam3_dep %>
</p>

<p>
  <strong>Exam3 ies:</strong>
  <%= @doutorando.exam3_ies %>
</p>

<p>
  <strong>Exam3 pub:</strong>
  <%= @doutorando.exam3_pub %>
</p>

<p>
  <strong>Exam4:</strong>
  <%= @doutorando.exam4 %>
</p>

<p>
  <strong>Exam4 mail:</strong>
  <%= @doutorando.exam4_mail %>
</p>

<p>
  <strong>Exam4 dep:</strong>
  <%= @doutorando.exam4_dep %>
</p>

<p>
  <strong>Exam4 ies:</strong>
  <%= @doutorando.exam4_ies %>
</p>

<p>
  <strong>Exam4 pub:</strong>
  <%= @doutorando.exam4_pub %>
</p>

<p>
  <strong>Exam5:</strong>
  <%= @doutorando.exam5 %>
</p>

<p>
  <strong>Exam5 mail:</strong>
  <%= @doutorando.exam5_mail %>
</p>

<p>
  <strong>Exam5 dep:</strong>
  <%= @doutorando.exam5_dep %>
</p>

<p>
  <strong>Exam5 ies:</strong>
  <%= @doutorando.exam5_ies %>
</p>

<p>
  <strong>Exam5 pub:</strong>
  <%= @doutorando.exam5_pub %>
</p>

<p>
  <strong>Exam6:</strong>
  <%= @doutorando.exam6 %>
</p>

<p>
  <strong>Exam6 mail:</strong>
  <%= @doutorando.exam6_mail %>
</p>

<p>
  <strong>Exam6 dep:</strong>
  <%= @doutorando.exam6_dep %>
</p>

<p>
  <strong>Exam6 ies:</strong>
  <%= @doutorando.exam6_ies %>
</p>

<p>
  <strong>Exam6 pub:</strong>
  <%= @doutorando.exam6_pub %>
</p>

<p>
  <strong>Exam7:</strong>
  <%= @doutorando.exam7 %>
</p>

<p>
  <strong>Exam7 mail:</strong>
  <%= @doutorando.exam7_mail %>
</p>

<p>
  <strong>Exam7 dep:</strong>
  <%= @doutorando.exam7_dep %>
</p>

<p>
  <strong>Exam7 ies:</strong>
  <%= @doutorando.exam7_ies %>
</p>

<p>
  <strong>Exam7 pub:</strong>
  <%= @doutorando.exam7_pub %>
</p>

<p>
  <strong>Sup int:</strong>
  <%= @doutorando.sup_int %>
</p>

<p>
  <strong>Sup int mail:</strong>
  <%= @doutorando.sup_int_mail %>
</p>

<p>
  <strong>Sup int pub:</strong>
  <%= @doutorando.sup_int_pub %>
</p>

<p>
  <strong>Sup ext:</strong>
  <%= @doutorando.sup_ext %>
</p>

<p>
  <strong>Sup ext mail:</strong>
  <%= @doutorando.sup_ext_mail %>
</p>

<p>
  <strong>Sup ext dep:</strong>
  <%= @doutorando.sup_ext_dep %>
</p>

<p>
  <strong>Sup ext ies:</strong>
  <%= @doutorando.sup_ext_ies %>
</p>

<p>
  <strong>Sup ext pub:</strong>
  <%= @doutorando.sup_ext_pub %>
</p>

<p>
  <strong>Confirma:</strong>
  <%= @doutorando.confirma %>
</p>

<%= link_to 'Edit', edit_doutorando_path(@doutorando) %> |
<%= link_to 'Back', doutorandos_path %>
