<!--<h2 align="center">Sistema de Solicitação de Banca Examinadora</h2> -->

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="login-block">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off" %>
   <!-- <% if devise_mapping.rememberable? -%>
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    <% end -%>  -->
     <%= f.submit "Log in" %>
  </div>


  <div class="login-block">
   <%= render "devise/shared/links" %> 
  </div>
  
  
<% end %>



