<%= form_for(@mestrando) do |f| %>
  <% if @mestrando.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@mestrando.errors.count, "error") %> prohibited this mestrando from being saved:</h2>

      <ul>
      <% @mestrando.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :cpf %><br>
    <%= f.number_field :cpf %>
  </div>
  <div class="field">
    <%= f.label :nome %><br>
    <%= f.text_field :nome %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :fone %><br>
    <%= f.text_field :fone %>
  </div>
  <div class="field">
    <%= f.label :ramal %><br>
    <%= f.number_field :ramal %>
  </div>
  <div class="field">
    <%= f.label :orient %><br>
    <%= f.text_field :orient %>
  </div>
  <div class="field">
    <%= f.label :coorient %><br>
    <%= f.text_field :coorient %>
  </div>
  <div class="field">
    <%= f.label :dep_coor %><br>
    <%= f.text_field :dep_coor %>
  </div>
  <div class="field">
    <%= f.label :ies_coor %><br>
    <%= f.text_field :ies_coor %>
  </div>
  <div class="field">
    <%= f.label :area %><br>
    <%= f.text_field :area %>
  </div>
  <div class="field">
    <%= f.label :proj_assoc %><br>
    <%= f.text_area :proj_assoc %>
  </div>
  <div class="field">
    <%= f.label :titulo %><br>
    <%= f.text_area :titulo %>
  </div>
  <div class="field">
    <%= f.label :resumo %><br>
    <%= f.text_area :resumo %>
  </div>
  <div class="field">
    <%= f.label :pal_chave %><br>
    <%= f.text_area :pal_chave %>
  </div>
  <div class="field">
    <%= f.label :sala %><br>
    <%= f.text_field :sala %>
  </div>
  <div class="field">
    <%= f.label :data %><br>
    <%= f.date_select :data %>
  </div>
  <div class="field">
    <%= f.label :hora %><br>
    <%= f.time_select :hora %>
  </div>
  <div class="field">
    <%= f.label :exam1 %><br>
    <%= f.text_field :exam1 %>
  </div>
  <div class="field">
    <%= f.label :exam1_mail %><br>
    <%= f.text_field :exam1_mail %>
  </div>
  <div class="field">
    <%= f.label :exam1_dep %><br>
    <%= f.text_field :exam1_dep %>
  </div>
  <div class="field">
    <%= f.label :exam1_ies %><br>
    <%= f.text_field :exam1_ies %>
  </div>
  <div class="field">
    <%= f.label :exam1_pub %><br>
    <%= f.number_field :exam1_pub %>
  </div>
  <div class="field">
    <%= f.label :exam2 %><br>
    <%= f.text_field :exam2 %>
  </div>
  <div class="field">
    <%= f.label :exam2_mail %><br>
    <%= f.text_field :exam2_mail %>
  </div>
  <div class="field">
    <%= f.label :exam2_dep %><br>
    <%= f.text_field :exam2_dep %>
  </div>
  <div class="field">
    <%= f.label :exam2_ies %><br>
    <%= f.text_field :exam2_ies %>
  </div>
  <div class="field">
    <%= f.label :exam2_pub %><br>
    <%= f.number_field :exam2_pub %>
  </div>
  <div class="field">
    <%= f.label :exam3 %><br>
    <%= f.text_field :exam3 %>
  </div>
  <div class="field">
    <%= f.label :exam3_mail %><br>
    <%= f.text_field :exam3_mail %>
  </div>
  <div class="field">
    <%= f.label :exam3_dep %><br>
    <%= f.text_field :exam3_dep %>
  </div>
  <div class="field">
    <%= f.label :exam3_ies %><br>
    <%= f.text_field :exam3_ies %>
  </div>
  <div class="field">
    <%= f.label :exam3_pub %><br>
    <%= f.number_field :exam3_pub %>
  </div>
  <div class="field">
    <%= f.label :exam4 %><br>
    <%= f.text_field :exam4 %>
  </div>
  <div class="field">
    <%= f.label :exam4_mail %><br>
    <%= f.text_field :exam4_mail %>
  </div>
  <div class="field">
    <%= f.label :exam4_dep %><br>
    <%= f.text_field :exam4_dep %>
  </div>
  <div class="field">
    <%= f.label :exam4_ies %><br>
    <%= f.text_field :exam4_ies %>
  </div>
  <div class="field">
    <%= f.label :exam4_pub %><br>
    <%= f.number_field :exam4_pub %>
  </div>
  <div class="field">
    <%= f.label :sup_int %><br>
    <%= f.text_field :sup_int %>
  </div>
  <div class="field">
    <%= f.label :sup_int_mail %><br>
    <%= f.text_field :sup_int_mail %>
  </div>
  <div class="field">
    <%= f.label :sup_int_pub %><br>
    <%= f.number_field :sup_int_pub %>
  </div>
  <div class="field">
    <%= f.label :sup_ext %><br>
    <%= f.text_field :sup_ext %>
  </div>
  <div class="field">
    <%= f.label :sup_ext_mail %><br>
    <%= f.text_field :sup_ext_mail %>
  </div>
  <div class="field">
    <%= f.label :sup_ext_dep %><br>
    <%= f.text_field :sup_ext_dep %>
  </div>
  <div class="field">
    <%= f.label :sup_ext_ies %><br>
    <%= f.text_field :sup_ext_ies %>
  </div>
  <div class="field">
    <%= f.label :sup_ext_pub %><br>
    <%= f.number_field :sup_ext_pub %>
  </div>
  <div class="field">
    <%= f.label :confirma %><br>
    <%= f.text_field :confirma %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
