<p id="notice"><%= notice %></p>

<p>
  <strong>Cpf:</strong>
  <%= @mestrando.cpf %>
</p>

<p>
  <strong>Nome:</strong>
  <%= @mestrando.nome %>
</p>

<p>
  <strong>Email:</strong>
  <%= @mestrando.email %>
</p>

<p>
  <strong>Fone:</strong>
  <%= @mestrando.fone %>
</p>

<p>
  <strong>Ramal:</strong>
  <%= @mestrando.ramal %>
</p>

<p>
  <strong>Orient:</strong>
  <%= @mestrando.orient %>
</p>

<p>
  <strong>Coorient:</strong>
  <%= @mestrando.coorient %>
</p>

<p>
  <strong>Dep coor:</strong>
  <%= @mestrando.dep_coor %>
</p>

<p>
  <strong>Ies coor:</strong>
  <%= @mestrando.ies_coor %>
</p>

<p>
  <strong>Area:</strong>
  <%= @mestrando.area %>
</p>

<p>
  <strong>Proj assoc:</strong>
  <%= @mestrando.proj_assoc %>
</p>

<p>
  <strong>Titulo:</strong>
  <%= @mestrando.titulo %>
</p>

<p>
  <strong>Resumo:</strong>
  <%= @mestrando.resumo %>
</p>

<p>
  <strong>Pal chave:</strong>
  <%= @mestrando.pal_chave %>
</p>

<p>
  <strong>Sala:</strong>
  <%= @mestrando.sala %>
</p>

<p>
  <strong>Data:</strong>
  <%= @mestrando.data %>
</p>

<p>
  <strong>Hora:</strong>
  <%= @mestrando.hora %>
</p>

<p>
  <strong>Exam1:</strong>
  <%= @mestrando.exam1 %>
</p>

<p>
  <strong>Exam1 mail:</strong>
  <%= @mestrando.exam1_mail %>
</p>

<p>
  <strong>Exam1 dep:</strong>
  <%= @mestrando.exam1_dep %>
</p>

<p>
  <strong>Exam1 ies:</strong>
  <%= @mestrando.exam1_ies %>
</p>

<p>
  <strong>Exam1 pub:</strong>
  <%= @mestrando.exam1_pub %>
</p>

<p>
  <strong>Exam2:</strong>
  <%= @mestrando.exam2 %>
</p>

<p>
  <strong>Exam2 mail:</strong>
  <%= @mestrando.exam2_mail %>
</p>

<p>
  <strong>Exam2 dep:</strong>
  <%= @mestrando.exam2_dep %>
</p>

<p>
  <strong>Exam2 ies:</strong>
  <%= @mestrando.exam2_ies %>
</p>

<p>
  <strong>Exam2 pub:</strong>
  <%= @mestrando.exam2_pub %>
</p>

<p>
  <strong>Exam3:</strong>
  <%= @mestrando.exam3 %>
</p>

<p>
  <strong>Exam3 mail:</strong>
  <%= @mestrando.exam3_mail %>
</p>

<p>
  <strong>Exam3 dep:</strong>
  <%= @mestrando.exam3_dep %>
</p>

<p>
  <strong>Exam3 ies:</strong>
  <%= @mestrando.exam3_ies %>
</p>

<p>
  <strong>Exam3 pub:</strong>
  <%= @mestrando.exam3_pub %>
</p>

<p>
  <strong>Exam4:</strong>
  <%= @mestrando.exam4 %>
</p>

<p>
  <strong>Exam4 mail:</strong>
  <%= @mestrando.exam4_mail %>
</p>

<p>
  <strong>Exam4 dep:</strong>
  <%= @mestrando.exam4_dep %>
</p>

<p>
  <strong>Exam4 ies:</strong>
  <%= @mestrando.exam4_ies %>
</p>

<p>
  <strong>Exam4 pub:</strong>
  <%= @mestrando.exam4_pub %>
</p>

<p>
  <strong>Sup int:</strong>
  <%= @mestrando.sup_int %>
</p>

<p>
  <strong>Sup int mail:</strong>
  <%= @mestrando.sup_int_mail %>
</p>

<p>
  <strong>Sup int pub:</strong>
  <%= @mestrando.sup_int_pub %>
</p>

<p>
  <strong>Sup ext:</strong>
  <%= @mestrando.sup_ext %>
</p>

<p>
  <strong>Sup ext mail:</strong>
  <%= @mestrando.sup_ext_mail %>
</p>

<p>
  <strong>Sup ext dep:</strong>
  <%= @mestrando.sup_ext_dep %>
</p>

<p>
  <strong>Sup ext ies:</strong>
  <%= @mestrando.sup_ext_ies %>
</p>

<p>
  <strong>Sup ext pub:</strong>
  <%= @mestrando.sup_ext_pub %>
</p>

<p>
  <strong>Confirma:</strong>
  <%= @mestrando.confirma %>
</p>

<%= link_to 'Edit', edit_mestrando_path(@mestrando) %> |
<%= link_to 'Back', mestrandos_path %>
