<%= form_for(@usuario) do |f| %>
  <% if @usuario.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@usuario.errors.count, "error") %> prohibited this usuario from being saved:</h2>

      <ul>
      <% @usuario.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :cpf %><br>
    <%= f.number_field :cpf %>
  </div>
  <div class="field">
    <%= f.label :nome %><br>
    <%= f.text_field :nome %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :nivel %><br>
    <%= f.text_field :nivel %>
  </div>
  <div class="field">
    <%= f.label :fone %><br>
    <%= f.text_field :fone %>
  </div>
  <div class="field">
    <%= f.label :ramal %><br>
    <%= f.number_field :ramal %>
  </div>
  <div class="field">
    <%= f.label :orient %><br>
    <%= f.text_field :orient %>
  </div>
  <div class="field">
    <%= f.label :coorient %><br>
    <%= f.text_field :coorient %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
